/*selector universal*/
*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(160, 143, 120);
    color: rgb(255, 255, 255);
}

#contenedor{
    width: 75%;
    height: 100%;
    background-color: rgb(155, 112, 43);
    border-radius: 5px;
}

#encabezado{
    width: 70%;
    background-color: rgb(74, 131, 77);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 500%;
    width: 886px;
    background-color: rgb(209, 140, 36);
    margin: 0.5em;
    border-radius: 2px;
 

}

ul{
    text-align: center;
    padding: 10px;
}

li{
    display:inline;
    padding: 10px,30px;
    margin: 5em;
}

li a:hover{
    color: rgb(3, 12, 1);
    text-decoration:none;
    list-style: none;
}

.contenImag{
    display:inline-block;
    font-family: sans-serif;
    padding: 16px;

}


#contenido{
    height: 700px;
    width: 550px;
    background-color: rgb(196, 120, 22);
    margin: 1.2em;
    display:inline-block;
    border-radius: 5px;
    text-align: center;
}

.img{
    width: 170px;
    border-radius: 0.5px;
    justify-content: auto;
    height: auto;
}

#fueraSeccion{
   border-radius: 5px;
    width: 250px;
    height: 600px;
    background-color: rgb(196, 120, 22);
    margin: 1.2em;
    display:inline-block; 
    vertical-align: top;
  
}

.lista-aside{
    padding: 20px;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 1.2px;
    list-style: square;
    color: black;
}

#pie{
   
    width: 1008px;
    background-color: rgb(196, 120, 22);
    margin: 0.2em;
    text-align: center;
    padding: 1.5px;

}